/* start copy */
.n-scroll-animation__hidden {
    transform: scale(80%);
    filter: blur(4px);
    transition: all 1.2s;
    opacity: 0;
}
.n-scroll-animation__show {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
}
/* end copy */
/* .hide--fixed {
    transform: scale(100%);
    transition: all 2s;
} */