* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
.selector {
    padding: 20px 25px;
    background: orangered;
  box-shadow: 1px 1px 20px 1px red;
}

/* copy */
.n-magnet-item {
  transition: transform 0.1s linear;
}
