/* start copying */

/* #region n-modal */
.n-modal {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
}	
.n-modal__backdrop {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 100;
}

.n-modal__content {
    position: absolute;
    z-index: 101;
}
.n-modal__opened {
	display: flex;
}
.n-modal__opened .n-modal__content  {
	animation: n-modal__open 0.3s cubic-bezier(0.5, -0.3, 0.3, 1.5) forwards;
}

@keyframes n-modal__open {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	100%  {
		opacity: 1;
		transform: translateY(0);
	}
}
/* #endregion */

/* end copying */

/* @keyframes n-modal__hide {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-100px);
	}
} */