.n-modal {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}	
.n-modal__backdrop {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 100;
}

.n-modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
}
.n-modal__opened {
	display: block;
}