body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    background-color: blueviolet;
    color: white;
    border: none;
    height: 50px;
    width: 180px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 5px;
}

/* start copying */
/* we can change n-riiple-scale, n-ripple-duration, n-ripple-bg */

.n-ripple {
    --n-ripple-scale: 200;
    --n-ripple-duration : 600ms;
    --n-ripple-bg: rgba(255, 255, 255,0.5);
    position: relative;
    overflow: hidden;
    --n-ripple-top: 0px;
    --n-ripple-left: 0px;
    --n-ripple-animation: none;
}

.n-ripple::after {
    content: "";
    transform: scale(0);
    position: absolute;
    border-radius: 50%;
    top: var(--n-ripple-top);
    left: var(--n-ripple-left);
    width: 2px;
    height: 2px;
    background-color: var(--n-ripple-bg);
    animation: var(--n-ripple-animation);
}

.n-ripple--animate::after {
    animation: n-ripple var(--n-ripple-duration) ease-in-out;
}

@keyframes n-ripple {
    to {
        transform: scale(var(--n-ripple-scale));
        opacity: 0;
    }
}
/* end copying */