/* copy this */
.n-tabs__content .n-tabs__item:not(.n-tabs__opened)  {
    display: none;
}
.n-tabs .n-tabs__item {
    transition: .2s ease-in-out;
}
/* end of copying */


/* custom css for active btn example */
.n-tabs__active {
    background-color: red;
}