/* copy this */

.n__tabs div[data-tabs] {
    display: none;
}
.n__opened:not(#fakeId) {
	display: block;
}
.n__tabs div.tab-item {
	display: none;
}

/* end of copying */

.n__tabs .active-tab {
    background-color: red;
}
.content>div{
    display: none;
}
