/* #region n-tooltip */
.n-tooltip {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
.n-tooltip__visible {
  opacity: 1;
  visibility: visible;
}

/* #endregion */