/* example styles */

body {
  margin: 0;
  padding: 0;
}
.drawer-content {
  background-color: red;
}

/* copy below */
.n-drawer,
.n-drawer__backdrop {
  display: none;
  --from-transform: translateY(-100%);
}
.n-drawer {
  position: relative;
  z-index: 1000;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.5, -0.3, 0.3, 1.5);
  animation-fill-mode: forwards;
}

.n-drawer--toBottom {
  animation-name: toBottom;
}
.n-drawer--toLeft {
  animation-name: toLeft;
}


.n-drawer--open {
  display: block;
}
.n-drawer__backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
}

@keyframes toBottom {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes toLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
