.class {
    /* dont allow items to stretch */
    grid-template-rows: repeat(2, minmax(0, min-content)) 1fr;

    /* 100% width without scroll width, but sometimes it's just like a 100% width */
    width: calc(100vw - (100vw - 100%));
    /* sometimes auto is the best choice to 100% for width */
    width: auto;

    /* smooth spring animation */
    --a: cubic-bezier(0.5, -0.3, 0.3, 1.5);

    /* add bold text without displacint letters */
    text-shadow:
        0 0 0.7px currentColor,
        0 0 0.7px currentColor,
        0 0 0.7px currentColor,
        0 0 0.7px currentColor;
}

/* autofill with your style */
.input:autofill {
    /* bg */
    box-shadow: 0 0 0 1000px var(--color-white) inset !important;
    /* color */
    -webkit-text-fill-color: var(--color-black) !important;
}